<table class="table table-dark table-hover">
  <thead>
    <tr class="text-primary">
      <th scope="col">#</th>
      <th scope="col">Productos</th>
      <th scope="col">Precio</th>
      <th scope="col">Cantidad</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td class="table_productos">
        <img src="/front-app/src/assets/img/Producto3.jpeg" alt="" />
        <h6 class="title">Titulo</h6>
      </td>
      <td class="table_precio"><p>$ 60</p></td>
      <td class="table_cantidad">
        <input type="number" min="1" value="1" />
        <button class=""></button>
      </td>
    </tr>
  </tbody>
</table>
