<body>
  <section class="contenedor">
    <div class="contenedor-items">
      <div class="item">
        <span class="titulo-item">TABLET FIRE 7</span>
        <img src="/assets/img/Producto1.jpeg" alt="..." class="img-item" />
        <span class="precio-item">$54.00</span>
        <button class="button-item">Agregar al carrito</button>
      </div>
      <div class="item">
        <span class="titulo-item">Telefono 2</span>
        <img src="/assets/img/Producto2.jpeg" alt="..." class="img-item" />
        <span class="precio-item">$25.00</span>
        <button class="button-item">Agregar al carrito</button>
      </div>
      <div class="item">
        <span class="titulo-item">Telefono 3</span>
        <img src="/assets/img/Producto3.jpeg" alt="" class="img-item" />
        <span class="precio-item">$35.00</span>
        <button class="button-item">Agregar al carrito</button>
      </div>
      <div class="item">
        <span class="titulo-item">Telefono 4</span>
        <img src="/assets/img/Producto4.jpeg" alt="" class="img-item" />
        <span class="precio-item">$45.00</span>
        <button class="button-item">Agregar al carrito</button>
      </div>
      <div class="item">
        <span class="titulo-item">Telefono 5</span>
        <img src="/assets/img/Producto5.jpeg" alt="" class="img-item" />
        <span class="precio-item">$45.00</span>
        <button class="button-item">Agregar al carrito</button>
      </div>
      <div class="item">
        <span class="titulo-item">Telefono 6</span>
        <img src="/assets/img/Producto6.jpeg" alt="" class="img-item" />
        <span class="precio-item">$45.00</span>
        <button class="button-item">Agregar al carrito</button>
      </div>
      <div class="item">
        <span class="titulo-item">Telefono 7</span>
        <img src="/assets/img/Producto7.jpeg" alt="" class="img-item" />
        <span class="precio-item">$55.00</span>
        <button class="button-item">Agregar al carrito</button>
      </div>
      <div class="item">
        <span class="titulo-item">Telefono 8</span>
        <img src="/assets/img/Producto8.jpeg" alt="" class="img-item" />
        <span class="precio-item">$65.00</span>
        <button class="button-item">Agregar al carrito</button>
      </div>
      <div class="item">
        <span class="titulo-item">Telefono 7</span>
        <img src="/assets/img/Producto7.jpeg" alt="" class="img-item" />
        <span class="precio-item">$55.00</span>
        <button class="button-item">Agregar al carrito</button>
      </div>
      <div class="item">
        <span class="titulo-item">Telefono 7</span>
        <img src="/assets/img/Producto7.jpeg" alt="" class="img-item" />
        <span class="precio-item">$55.00</span>
        <button class="button-item">Agregar al carrito</button>
      </div>
      <div class="item">
        <span class="titulo-item">Telefono 7</span>
        <img src="/assets/img/Producto7.jpeg" alt="" class="img-item" />
        <span class="precio-item">$55.00</span>
        <button class="button-item">Agregar al carrito</button>
      </div>
      <div class="item">
        <span class="titulo-item">Telefono 7</span>
        <img src="/assets/img/Producto7.jpeg" alt="" class="img-item" />
        <span class="precio-item">$55.00</span>
        <button class="button-item">Agregar al carrito</button>
      </div>
    </div>
  </section>
</body>
